.btn-outline-demo {
    display: flex;
    align-items: center;

    height: 48px;
    padding: 12px 20px;
    margin-bottom: 10px;

    border-radius: 5px;
    border: 1px solid #7b1616;
    background-color: #7b1616;
    color: #eee;
    cursor: pointer;

    transition: opacity 0.2s ease-in;
}
.btn-outline-demo i {
    padding-right: 12px;
}

.btn-outline-demo:hover {
    opacity: 0.9;
    color: #fff;
}

.btn-outline-demo:active {
    position: relative;
    top: 1px;
}