.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 30px;
    transition: 0.8s;
}

body.dark .project {
    max-width: 370px;
    background-color: var(--project-card-bg);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.project {
    max-width: 370px;
    background-color:#c2c1b6;
    box-shadow: 0px 5px 10px #333;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.project__img {
    border-radius: 10px;
    height: 250px;
    width: 334px;
}

.project__title {
    padding: 15px 20px 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: var(--project-card-text);
}
.project-details {
    margin: 0 auto;
    max-width: 865px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
}
.project-details img{
    position: relative;
    z-index: 1;
}

.project-details__cover {
    max-width: 100%;
    margin-bottom: 40px;
    
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.project-details .description {
    line-height: 35px;
    letter-spacing: 0.5px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 55px 0;
}
.project-details__desc {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
}
.project-btns{
    display: flex;
    gap: 10px;
}
.project-btns.wtoDemo a:first-child{
    display: none;
}
.project__links{
    position: relative;
}
.project__links a{
    color: var(--accent);
    font-size: 25px;
    padding: 10px;
    opacity: 0;
    position: absolute;
    right: 5px;
    top: -63px;
}
.project__links a:first-of-type{
    font-size: 24px;
    right: 50px;
}
.project:hover .project__links a{
    transition: .5s;
    opacity: 1;
}
.project .project__links a:hover>i{
    color: #7b1616;
    transition: .4s;
}
.project__links .none{
    display: none;
}

@media (max-width: 1020px) {
    .project__links a {
        opacity: 1;
    }
}
@media (max-width: 620px) {
    .project__title {
        font-size: 22px;
    }

    .project-details__desc {
        margin-bottom: 20px;
        font-size: 22px;
    }
}